<div class="container">
    <div class="pure-g">
        <div class="left-side  mat-elevation-z8 pure-u-1 pure-u-md-1-3">
            <div class="header-left">
                <img src="../assets/images/profil.jpg" width="100px" height="100px" class="profil-image" />
                <h3 id="name">
                    {{ myCv.user.lastname + " " + myCv.user.firstName }}
                </h3>
                <h3>{{ myCv.user.postName }}</h3>
                <div>{{ myCv.user.birthDay.fromNow(true) + " - " + myCv.user.city }}</div>
                <div><a [href]="'mailto:'+ myCv.user.email">{{ myCv.user.email }}</a></div>
                <div><a [href]="'tel:'+ myCv.user.phoneNumber">{{ myCv.user.phoneNumber }}</a></div>
            </div>
        </div>
        <div class="right-side pure-u-1 pure-u-md-2-3">
            <div> test123</div>
        </div>
    </div>
</div>