<div class="container">
    <div class="pure-g">
        <div class="left-side  mat-elevation-z8 pure-u-1 pure-u-md-1-3">
            <div class="header-left">
                <img src="../assets/images/profil.jpg" width="100px" height="100px" class="profil-image" />
                <h3 id="name">Paul Richez</h3>
                <div>29 ans</div>
                <div>Lille</div>
                <h3>Développeur Front End</h3>
            </div>
        </div>
        <div class="right-side pure-u-1 pure-u-md-2-3">
            <div> test123</div>
        </div>
    </div>
</div>