@import "../var.scss";
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 5px 3px 8px 2px rgb(15 15 20 / 20%);
}

.left-side {
  position: relative;
  height: calc(100vh - 30px);
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  .header-left {
    background-color: $bg-2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    z-index: 9999;
    text-align: center;
    .profil-image {
      margin: 0 auto;
      border-radius: 50%;
    }
    #name {
      font-weight: bold;
    }
  }

  .content-left {
    background-color: $bg-3;
    height: 100%;
    padding: 215px 0 46px;
    > div {
      overflow-x: hidden;
      height: 100%;
      padding: 15px;
    }
    .langues {
      display: flex;
      justify-content: space-around;
    }

  }

  .footer-left {
    background-color: $bg-2;
    margin: auto;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 100%;
  }
}

.right-side {
  //width: 100%;
  background-color: $bg-3;
  > div {
    padding: 30px;
  }
}
