<div class="container">
    <div class="pure-g">
        <div class="left-side pure-u-1 pure-u-sm-1-4">
            <div class="header-left">
                <img src="../assets/images/profil.jpg" width="100px" height="100px" class="profil-image" />
                <h3 id="name">
                    {{ myCv.user.lastname + " " + myCv.user.firstName }}
                </h3>
                <h3>{{ myCv.user.postName }}</h3>
                <div>{{ myCv.user.birthDay.locale('fr').fromNow(true) + " - " + myCv.user.city }}</div>
            </div>
            <div class="content-left">
                <div>
                    <div class="contact">
                        <h2 class="secondary-text">Contact</h2>
                        <div><a [href]="'mailto:'+ myCv.user.email">{{ myCv.user.email }}</a></div>
                        <div><a [href]="'tel:'+ myCv.user.phoneNumber">{{ myCv.user.phoneNumber }}</a></div>
                        <div class="custom-divider"></div>
                    </div>
                    <div>
                        <h2 class="secondary-text">Langues</h2>
                        <div class="langues">
                            <div *ngFor="let language of myCv.languages">
                                <mat-spinner color="accent" diameter="50" [value]="language.value" mode="determinate">
                                </mat-spinner>
                                <div class="secondary-text"
                                    style="position:relative; top: -35px; left: -2px;text-align: center;font-size: 12px;">
                                    {{ language.value }} %</div>
                                <b style="position: relative;top:-10px;">{{ language.key }}</b>
                            </div>
                        </div>
                        <div class="custom-divider"></div>
                    </div>
                    <div>
                        <h2 class="secondary-text">Langages</h2>
                        <div class="languages">
                            <div *ngFor="let code of myCv.coding">
                                <b>{{ code.key }}</b>
                                <br />
                                <mat-progress-bar color="accent" [value]="code.value" mode="buffer">
                                </mat-progress-bar>
                            </div>
                        </div>
                        <div class="custom-divider"></div>
                    </div>
                    <div>
                        <h2 class="secondary-text">Connaissance</h2>
                        <div class="knowledge">
                            <span *ngFor="let know of myCv.knowledge; last as last">
                                <span>{{ know }}</span>
                                <span *ngIf="!last">,</span>
                            </span>
                        </div>
                        <div class="custom-divider"></div>
                    </div>
                </div>
            </div>
            <div class="footer-left">
                <button mat-stroked-button (click)="openSite('www.linkedin.com/in/paul-richez-824041107/')">
                    <mat-icon svgIcon="linkedin"></mat-icon>
                </button>
                <button mat-stroked-button
                    (click)="openSite('https://github.com/PaulRichez/MyAngVirtualCurriculumVitae')">
                    <mat-icon svgIcon="github"></mat-icon>
                </button>
                <button mat-stroked-button (click)="makeCVasPDF()">
                    <mat-icon>download</mat-icon>
                    PDF
                </button>
            </div>
        </div>
        <div class="right-side pure-u-1 pure-u-sm-3-4">
            <div> test123</div>
        </div>
    </div>
</div>