@import "../var.scss";
.container {max-width:1000px;width:100%;margin:0 auto;}

.left-side {
  // max-width: 100%;
  // min-width: calc(290px - 30px);
  height: calc(100vh - 30px);
  // z-index: 999;
  background-color: $bg-2;
  .header-left {
    padding: 15px;
    text-align: center;
    width: 100;
    .profil-image {
      margin: 0 auto;
      border-radius: 50%;
    }
    #name {
      font-weight: bold;
      margin: 2px;
    }
  }
}

.right-side {
  //width: 100%;
  background-color: $bg-3;
  >div {
    padding: 30px;
  }
}